<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-annotations-demo/src/com/practice/spring/AnnotationBasedApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.practice.spring.AnnotationBasedApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-annotations-demo"/>
</launchConfiguration>
